footer{
  background-color: $color-black;
  color: $color-white;
}

.c-top-bar{
  border-bottom: calrem(1px) solid $color-text--light ;
}

.c-bottom-bar{
  border-top: calrem(1px) solid $color-text--light ;
}