@media screen and (min-width: 770px){
  header{
    display: flex;
  }
  .c-menu{
    padding: calrem(20px);
  }
  .c-burger-menu{
    float: right;
  }
  .fa-search{
    margin-left: calrem(-20px);
  }
}

