//color
$color-white: #fff;
$color-black: #000;

$color--hr: #cccccc;

//$color-text--lighter--second: #f6f3ee;
//$color-text--lighter: #b3b3b3;
//$color-text--light: #767676;
//$color-text: #5d5d5c;
//$color-text--dark: #444444;
$color-text--secondary: #c9c9c9;
$color-text--lighter: #9c9c9c;
$color-text-lighter--secondary: #909090;
$color-text--light: #757575;
$color-button: #e5e5e5;

//$color-active--lighten: #e6f4f5;
//$color-active: #007ab3;
//$color-active--dark: #0072a5;

$color-link--active: #e91e63;

//$brand-color: #002973;

// Font-weight
$weight-light: 300;
$weight-normal: 400;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-bolder: 900;
