.c-button-big{
  width: 100%;

  background-color: $color-button;
  color: $color-text--light;

  text-align: center;

  text-transform: uppercase;

  padding: calrem(4px);
}

.dropdown-toggle{
  background: transparent;
  color: black;
  border: none;
  margin-top: -5px;
  text-transform: uppercase;
  &:focus, &:hover, &:active{
    box-shadow: none!important;
    color: #000!important;
    background: transparent!important;
    border: none!important;
  }
}

.dropdown-menu{
  background-color: black;
}

.dropdown-item{
  background: black;
  color: white;
  &:hover{
    background: black;
    color: dimgrey;
  }
}