
@media only screen and (min-width: 950px){
  .c-card--primary:first-child,
  .c-card--primary:last-child{
    height: calrem(500px);
    overflow: hidden;
    border: red 1px solid;
  }
}

.c-card--primary:first-child{
  background-image: url("../img/card-primary-img.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  width: 100%;
  height: calrem(400px);
}

.card-text{
  display: inline-flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.c-card--primary:last-child{
  background-image: url("../img/card-primary-img2.jpg");
  background-size: 100% 100%;
  background-position: right;
  background-repeat: no-repeat;

  width: 100%;
  height: calrem(400px);
}


.card-img-top{
  height: calrem(225px);
}


.card-img-bottom{
  margin-top: calrem(-24px)!important;

  padding-left: calrem(40px);
}

.card-footer{
  display: flex;
  justify-content: space-between;

  border: none;
  background-color: transparent!important;

  margin-top: calrem(100px)!important;
}
